body, html {
    height: 100%;
    font-family: 'Quando', serif;
}
.header-style01{
    background-image: url('../img/header.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}
.header-style01 .container{
    text-align: center;
    color: white;
    padding-top: 15%;
    font-size: 42px;
}
.header-style02{
    text-align: center;
    padding-bottom: 50px;
}
.section-style01{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-style02{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
    color: white;
}
.text-style01{
    padding: 20px;
    background-color: white;
    color: black;
    font-size: 19px;
    line-height: 1;
}
@media screen and (min-width: 800px) {
    .text-style01:hover{
        background-color: /*wheat*/#337ab7;
        color: white;
        cursor: default;
    }
    .portfolio-item-info:hover{
        opacity: 1;
    }
    .portfolio-item:hover{
        transition: 0.2s all linear;
        transform: scale(1.025);
        border-color: #337ab7;
    }
}
.text-style02{
    text-align: justify;
    font-size: 15px;
}
.about-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-wrapper{
    padding: 0 10px 10px 10px;
    height: 375px;
}
.portfolio-item{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    border: 5px solid black;
    cursor: pointer;
}
.portfolio-item-info{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    opacity: 0;
    box-sizing: border-box;
    transition: 0.2s all linear;
}

.portfolio-item-info h3{
    margin: 0;
    padding: 20px;
    left: 30px;
    right: 30px;
    position: absolute;
    text-align: center;
    top: 40%;
    color: white;
    height: auto;
    letter-spacing: 0.5mm;
    color:#337ab7;
    font-weight: bold;
}
.portfolio-item-01{
    background-image: url('../img/item1.png');
}
.portfolio-item-02{
    background-image: url('../img/item2.png');
}
.portfolio-item-03{
    background-image: url('//s3.amazonaws.com/s3.timetoast.com/public/uploads/photos/3159306/jagiello.jpg?1352908378');
}
.portfolio-item-04{
    background-image: url('../img/item4.png');
}
.portfolio-item-05{
    background-image: url('../img/item5.png');
}
.portfolio-item-modal{
    width:80%;
    height: 100%;
    max-height: 650px;
}
@media screen and (max-width: 800px) {
	.portfolio-item-modal{
        width:auto;
    }
    .modal-list{
        padding-top: 10px;
    }
    .modal-list::before{
        border: 1px solid black;
        width: 99%;
    }
    .text-style02{
        padding-top: 10px;
    }
    .carousel-control.right, .carousel-control.left{
        opacity: 1 !important;
    }
    .close{
        font-size: 30px;
    }
}
.modal-content{
    max-height: 650px;
    height: 100%;
    overflow: auto;
}
.modal-header{
    border-bottom: none;
}
.modal-title{
    text-align: center;
    font-weight: bold;
}
.modal-list::after{
    border: 1px solid black;
    width: 99%;
}
.modal-list-item{
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}
.modal-list-item:hover{
    box-shadow: 0 0 5px #3a3a3a;
}
.item-active{
     box-shadow: 0 0 5px #3a3a3a;
}
.modal-list-item img{
    height: 50px;
    width: 100%;
}
.modal-info{
    padding-top: 20px;
    text-align: justify;
    font-size: 13px;
}
.contact-item{
    background-color: black !important;
    border: 0 !important;
    text-align: center;
}
.link{
    text-decoration: none;
    font-size: 25px;
    padding-top: 5px;
    color: white;
}
.link:hover, .link:focus{
    text-decoration: none;
    color: #337ab7;
}
.link2, .link2:hover, .link2:focus{
    text-decoration: none;
    color: #337ab7;
}
.navbar{
    font: 700 15px "Dosis",sans-serif;
}
.navbar-default .navbar-nav li a, .navbar-brand{
    color:black !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a{
    color: white !important;
    background-color: black !important;
    border-bottom-color: black;
}
.navbar-brand:hover{
    background-color: black !important;
    color: white !important;
}
.navbar-default {
    background-color: white;/*#f8f8f8*/
    border-color: black;
}
footer{
    padding: 25px 20px 20px 20px ;
    font: 700 30px "Dosis",sans-serif;
}
.button-style01{
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    background-color: white;
    font-weight: bold;
}
.button-style01:hover{
    border-color: white;
    color: white;
    background-color: black;
}
.carousel-control.right, .carousel-control.left{
    opacity: 0;
    cursor: pointer;
}
.carousel-control.right:hover, .carousel-control.left:hover{
    opacity: 1;
}

